[submodule "api/jpo-conflictmonitor"]
	path = api/jpo-conflictmonitor
	url = https://github.com/usdot-jpo-ode/jpo-conflictmonitor
    branch = develop

[submodule "api/asn1_codec"]
	path = api/asn1_codec
	url = https://github.com/iyourshaw/asn1_codec.git
