version: "3"
services:
  conflictvisualizer-gui:
    profiles:
      - all
      - cm_api_full
      - cm_api_base
      - cm_gui
    build:
      context: gui
      dockerfile: Dockerfile
      args:
        NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
        NEXTAUTH_URL: ${NEXTAUTH_URL}
        KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID}
        KEYCLOAK_CLIENT_SECRET: ${KEYCLOAK_CLIENT_SECRET}
        KEYCLOAK_REALM: ${KEYCLOAK_REALM}
        MAPBOX_TOKEN: ${MAPBOX_TOKEN}
        GUI_SERVER_URL: ${GUI_SERVER_URL}
        AUTH_SERVER_URL: ${AUTH_SERVER_URL}
        API_SERVER_URL: ${API_SERVER_URL}
        API_WS_URL: ${API_WS_URL}
    restart: always
    ports:
      - "3000:3000"
    image: jpo-conflictvisualizer-gui:latest
    logging:
      options:
        max-size: "10m"
        max-file: "5"

  keycloak:
    profiles:
    - all
    - cm_api_full
    - keycloak
    build:
      context: keycloak
      dockerfile: Dockerfile
    container_name: jpo-conflictvisualizer-keycloak
    restart: always
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KEYCLOAK_CLIENT_SECRET: ${KEYCLOAK_CLIENT_SECRET}
      GUI_SERVER_URL: ${GUI_SERVER_URL}
      API_SERVER_URL: ${API_SERVER_URL}
    command:
      - start-dev
      - --log-level=INFO
      - --import-realm
      - --proxy edge
    volumes:
      - keycloak:/opt/keycloak/data/
      - ${DOCKER_HOST_DIR}/keycloak/realm.json:/tmp/realm.json
    ports:
      - "8084:8080"

  conflictvisualizer-api:
    profiles:
      - all
      - cm_api_full
      - cm_api_base
      - cm_api
    build:
      context: api
      dockerfile: Dockerfile
      args:
        MAVEN_GITHUB_TOKEN: ${MAVEN_GITHUB_TOKEN:?error}
        MAVEN_GITHUB_ORG: ${MAVEN_GITHUB_ORG:?error}
    ports:
      - "8081:8081"
    image: jpo-conflictvisualizer-api:latest
    restart: always
    environment:
      AUTH_SERVER_URL: ${AUTH_SERVER_URL}
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      DB_HOST_IP: ${DB_HOST_IP}
      DB_HOST_PORT: ${DB_HOST_PORT}
      SPRING_KAFKA_BOOTSTRAPSERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
      CM_SERVER_URL: ${CM_SERVER_URL}
      load: "false"
      KAFKA_TYPE: "ON-PREM"
      ACM_CONFIG_FILE: adm.properties
      ACM_LOG_TO_CONSOLE: true
      ACM_LOG_TO_FILE: false
      ACM_LOG_LEVEL: DEBUG
      CM_MONGO_API_USERNAME: ${CM_MONGO_API_USERNAME}
      CM_MONGO_API_PASSWORD: ${CM_MONGO_API_PASSWORD}
      
      #KAFKA_BROKER_IP: ${KAFKA_BROKER_IP}
      #KAFKA_BROKER_PORT: ${KAFKA_BROKER_PORT}
    logging:
      options:
        max-size: "10m"
        max-file: "5"
    # depends_on:
    #   keycloak:
    #     condition: service_started

volumes:
  keycloak:
