.mapContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.blink_me {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

.blink_me_slow {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}
