name: DockerHub Build and Push

on:
  push:
    branches:
      - "develop"
      - "master"
      - "release/*"
    tags:
      - "*"
  workflow_dispatch:

jobs:
  push-api:
    uses: usdot-jpo-ode/actions/.github/workflows/dockerhub.yml@main
    with:
      image: usdotjpoode/jpo-conflictvisualizer-api
      context: ./api
      file: ./api/Dockerfile
      build-args: |
        MAVEN_GITHUB_TOKEN_NAME=${{ vars.MAVEN_GITHUB_TOKEN_NAME }}
        MAVEN_GITHUB_TOKEN=${{ secrets.MAVEN_GITHUB_TOKEN }}
        MAVEN_GITHUB_ORG=${{ github.repository_owner }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      MAVEN_GITHUB_TOKEN: ${{ secrets.MAVEN_GITHUB_TOKEN }}

  push-keycloak:
    uses: usdot-jpo-ode/actions/.github/workflows/dockerhub.yml@main
    with:
      image: usdotjpoode/jpo-conflictvisualizer-keycloak
      context: ./keycloak
      file: ./keycloak/Dockerfile
      build-args: |
        MAVEN_GITHUB_TOKEN_NAME=${{ vars.MAVEN_GITHUB_TOKEN_NAME }}
        MAVEN_GITHUB_TOKEN=${{ secrets.MAVEN_GITHUB_TOKEN }}
        MAVEN_GITHUB_ORG=${{ github.repository_owner }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      MAVEN_GITHUB_TOKEN: ${{ secrets.MAVEN_GITHUB_TOKEN }}
