name: Docker Build

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build-api:
    uses: usdot-jpo-ode/actions/.github/workflows/docker.yml@main
    with:
      context: ./api
      file: ./api/Dockerfile
      build-args: |
        MAVEN_GITHUB_TOKEN_NAME=${{ vars.MAVEN_GITHUB_TOKEN_NAME }}
        MAVEN_GITHUB_TOKEN=${{ secrets.MAVEN_GITHUB_TOKEN }}
        MAVEN_GITHUB_ORG=${{ github.repository_owner }}
    secrets:
      MAVEN_GITHUB_TOKEN: ${{ secrets.MAVEN_GITHUB_TOKEN }}

  build-keycloak:
    uses: usdot-jpo-ode/actions/.github/workflows/docker.yml@main
    with:
      context: ./keycloak
      file: ./keycloak/Dockerfile
      build-args: |
        MAVEN_GITHUB_TOKEN_NAME=${{ vars.MAVEN_GITHUB_TOKEN_NAME }}
        MAVEN_GITHUB_TOKEN=${{ secrets.MAVEN_GITHUB_TOKEN }}
        MAVEN_GITHUB_ORG=${{ github.repository_owner }}
    secrets:
      MAVEN_GITHUB_TOKEN: ${{ secrets.MAVEN_GITHUB_TOKEN }}
