name: Docker Build

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  docker-build:
    strategy:
      matrix:
        component: ['api', 'keycloak']
    uses: usdot-jpo-ode/actions/.github/workflows/docker.yml@main
    with:
      context: ./${{ matrix.component }}
      file: ./${{ matrix.component }}/Dockerfile
      build-args: |
        MAVEN_GITHUB_TOKEN_NAME=${{ vars.MAVEN_GITHUB_TOKEN_NAME }}
        MAVEN_GITHUB_ORG=${{ github.repository_owner }}
    secrets:
      MAVEN_GITHUB_TOKEN: ${{ secrets.MAVEN_GITHUB_TOKEN }}
