name: Docker Build

# This workflow is triggered by pull request actions such as opened, synchronized, or reopened
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  conflictvisualizer:
    strategy:
      matrix:
        component: ['api', 'keycloak']

    uses: usdot-jpo-ode/actions/.github/workflows/docker.yml@main
    with:
      context: ./${{ matrix.component }}
      file: ./${{ matrix.component }}/Dockerfile
      build-args: |
        MAVEN_GITHUB_TOKEN_NAME=${{ vars.MAVEN_GITHUB_TOKEN_NAME }}
        MAVEN_GITHUB_TOKEN=${{ secrets.MAVEN_GITHUB_TOKEN }}
        MAVEN_GITHUB_ORG=${{ github.repository_owner }}
      secrets: |
        MAVEN_GITHUB_TOKEN=${{ secrets.MAVEN_GITHUB_TOKEN }}
